.img-thumbnail{
    margin: 25px;
    width: 85%;
    height: 85%;
}

card-body{
    padding: 0 25px;
}

card-footer{
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.tab-pane.active {
    animation: slide-down 2s ease-out;
}

@keyframes slide-down {
    0% { opacity: 0; transform: translateY(0.1%); }
    100% { opacity: 1; transform: translateY(0); }
}

.img-thumbnail {
    border: 0 none;
    background: transparent;
}