<div class="text-center mt-3">
    <h2>Your matches - {{pagination?.totalItems}} found</h2>
</div>
<div class="container mt-3">
    <form #form="ngForm" (ngSubmit)="loadMembers()" autocomplete="off">
        <table  cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="ml-5" appearance="fill">
                        <mat-label>Age from:</mat-label>
                        <input type="number" matInput name="minAge" [(ngModel)]="userParams.minAge">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="ml-4" appearance="fill">
                        <mat-label class>Age to:</mat-label>
                        <input type="number" matInput name="maxAge" [(ngModel)]="userParams.maxAge">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" class="ml-4">
                        <mat-label>Search for:</mat-label>
                        <mat-select [(ngModel)]="selected" name="gender" (selectionChange)="setGender()">
                            <mat-option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <button mat-button class="btn btn-primary ml-4 mb-2" type="submit">Apply Filters</button>
                </td>
                <td>
                    <button mat-button (click)="resetFilters()" class="btn btn-info ml-4 mb-2" type="submit">Reset Filters</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="container">
    <div class="row">
        <div *ngFor="let member of members" class="col-2" >   
                <app-member-card [member]="member" ></app-member-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">
</pagination>



</div>